<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>Loggin in... please wait</h1>
    
    <img src="/crosslogin?token={{token}}" alt="">
    <img src="http://myevents.com:3000/crosslogin?token={{token}}" alt="">
    <img src="http://admin.myevents.com:3000/crosslogin?token={{token}}" alt="">
    <img src="http://myevents.com.ar:3000/crosslogin?token={{token}}" alt="">
    <img src="http://myevents.co.uk:3000/crosslogin?token={{token}}" alt="">

    <a href="http://myevents.com:3000/myprofile">myevents.com</a>
    {{!-- <script src="/js/redirect.js"></script> --}}
</body>
</html>
